.main{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  min-height: 96vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.user{
  width: 50%;
  border:1px solid black;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 70vh;
}
.user-nav{
  border-right: 1px solid black;
}
.user-nav ul{
  list-style: none;
  text-align: left;
}
.user-nav-link{
  font-family: 'Mohave', sans-serif;
  padding: 10px 20px;
  border-bottom: 2px solid #1d3557;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-nav-link:hover{
  background-color: #a8dadc;
  cursor: pointer;
}
.user-window{
  text-align: left;
}
.user-window-component{
  padding: 15px 30px;
}
.side-text{
  font-family: 'Mohave', sans-serif;
  color:#888;
}
.user-info{
  width: 40%;
  border-top: 1px solid black;
  margin-top: 1.4rem;
  padding: 10px 0;
}
.para{
  font-size: 1.1rem;
  font-family: 'Mohave', sans-serif;
  margin:0.3rem 0;
}
#delete-account{
  margin-top: 1rem;
}
.delete-button{
  color:red;
  background-color: transparent;
  font-family: 'Mohave', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 15px;
  border:1px solid black;
  border-radius: 10px;
  margin-top:0.5rem;
  cursor: pointer;
  position: relative;
}
.delete-button::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 0%;
  transition: 0.5s;
  height: 100%;
  border-radius: 10px;
}
.delete-button:hover::after{
  width: 100%;
}
#user-form{
  display: flex;
  flex-direction: column;
}
#account{
  background-color: #f1faee;
}